body {
    font-family: 'Oswald', sans-serif;
  }
  
  #container {
    width: 420px;
    background-color:rgb(242, 255, 240);
    border-radius: 3px;
    padding: 0px 15px 0px 15px;
    margin: 10px auto;
    border: 1px solid #ddd;
  }
  
  h1 {
    background-color: rgb(95, 160, 104);
    text-align: center;
    color: white;
    padding: 5px;
    border-radius:10px;
  }
  
  ul {
    list-style-type: disc;
    margin: 20px 0 20px 0;
  }
  
  input[type=text] {
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
    font-size: 15px;
    border-radius:10px;
  }
  
  button {
    border: 1px solid #ccc;
    margin-left: 15px;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
  }
  
  .delete {
    cursor: pointer;
    color: red;
    font-weight: bold;
  }

  .edit{
    cursor: pointer;
    color: blue;
    font-weight: bold;
  }

  .update{
    background-color: yellow;
  }

  .li_update{
    font-weight: bold;
  }
